Mean–Variance Analysis

Industry_Portfolios.xlsx contains monthly nominal (net) returns for ten industry portfolios, expressed in percent. These returns cover the ten-year period from Jan 2004 through Dec 2013.

Calculate the vector of mean returns and the covariance matrix of returns for the ten industry portfolios. Create a table showing the mean returns and standard deviation of returns for the ten industry portfolios. Plot the minimum-variance frontier (without the riskless asset) generated by the ten industry portfolios, with mean return on the vertical axis and standard deviation of return on the horizontal axis. This plot should cover the range from 0% to 2% (in increments of 0.1%) on the vertical axis. Briefly explain the economic significance and relevance of the minimum-variance frontier to an investor.

Now suppose that the risk-free rate is 0.13% per month. Plot the efficient frontier (with the riskless asset) on the same plot as the minimum-variance frontier generated by the ten industry portfolios. Briefly explain the economic significance and relevance of the efficient frontier to an investor.

The two frontiers will intersect at single point: the tangency portfolio. Calculate the Sharpe ratio for the tangency portfolio, and also the tangency portfolio weights for the ten industry portfolios. Briefly explain the economic significance and relevance of the tangency portfolio to an investor.

Please submit your results and programming code, as (uncompressed) MS Word or Adobe PDF, to the submission folder for Homework 1 before 7 pm on Wednesday, 21 October.

#### Importing Libraries & Dataset (from excel)

In [12]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import subplot, scatter, plot, axis
import seaborn as sns

In [13]:
data = pd.read_excel('Industry_Portfolios.xlsx')

#### Exploratory Data Analysis

Industry_Portfolios.xlsx contains monthly nominal (net) returns for ten industry portfolios, expressed in percent. These returns cover the ten-year period from Jan 2004 through Dec 2013.

In [14]:
data

,Date,NoDur,Durbl,Manuf,Enrgy,HiTec,Telcm,Shops,Hlth,Utils,Other
0,200401,0.06,-1.07,-0.62,0.44,4.53,1.41,0.45,3.09,1.92,2.88
1,200402,4.25,-0.07,1.95,4.69,-2.92,-0.52,6.09,0.89,2.07,2.16
2,200403,-0.09,-1.15,-0.27,-0.13,-2.55,-2.07,0.29,-3.96,1.13,-0.63
3,200404,1.42,2.30,-0.17,2.52,-4.91,-0.48,-2.70,3.54,-3.55,-3.76
4,200405,-1.89,-1.64,1.61,0.39,4.85,-2.95,0.30,-0.42,1.28,1.86
...,...,...,...,...,...,...,...,...,...,...,...
115,201308,-4.00,-1.00,-1.95,-1.83,-0.12,-3.28,-4.21,-3.49,-4.43,-3.66
116,201309,1.94,6.46,5.20,2.03,3.77,4.33,4.46,4.19,1.05,3.83
117,201310,4.75,0.72,4.56,4.86,3.80,5.52,5.08,3.47,3.35,3.87
118,201311,1.29,1.81,2.95,0.85,3.65,0.27,3.67,4.54,-1.81,4.74
119,201312,2.65,1.18,3.13,2.95,4.04,3.96,0.20,0.71,1.79,3.11

In [15]:
data.describe()

,Date,NoDur,Durbl,Manuf,Enrgy,HiTec,Telcm,Shops,Hlth,Utils,Other
count,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000,120.000000
mean,200856.500000,0.902833,0.733333,1.012833,1.231167,0.766250,0.881417,0.916333,0.783833,0.907167,0.489083
std,288.453279,3.345657,8.361852,5.310270,6.081524,5.381191,4.448284,4.093786,3.787172,3.701763,5.582452
min,200401.000000,-13.060000,-32.860000,-20.800000,-17.350000,-18.450000,-15.560000,-15.160000,-11.020000,-12.650000,-19.610000
25%,200606.750000,-0.975000,-2.745000,-1.252500,-2.010000,-2.112500,-1.695000,-1.072500,-1.815000,-0.445000,-2.045000
50%,200856.500000,1.110000,1.005000,1.445000,1.940000,1.465000,1.435000,1.185000,1.225000,1.485000,1.170000
75%,201106.250000,3.097500,4.432500,3.912500,5.300000,4.535000,3.855000,3.572500,3.410000,3.260000,3.367500
max,201312.000000,7.370000,42.780000,17.500000,19.070000,12.450000,9.660000,12.130000,8.980000,6.790000,16.040000

In [16]:
data = data.set_index('Date')
data.head()

        NoDur  Durbl  Manuf  Enrgy  HiTec  Telcm  Shops  Hlth  Utils  Other
Date
200401   0.06  -1.07  -0.62   0.44   4.53   1.41   0.45  3.09   1.92   2.88
200402   4.25  -0.07   1.95   4.69  -2.92  -0.52   6.09  0.89   2.07   2.16
200403  -0.09  -1.15  -0.27  -0.13  -2.55  -2.07   0.29 -3.96   1.13  -0.63
200404   1.42   2.30  -0.17   2.52  -4.91  -0.48  -2.70  3.54  -3.55  -3.76
200405  -1.89  -1.64   1.61   0.39   4.85  -2.95   0.30 -0.42   1.28   1.86

#### 1)	Calculate the vector of mean returns and the covariance matrix of returns for the ten industry portfolios.

In [17]:
data_mean = data.mean()
data_mean

NoDur    0.902833
Durbl    0.733333
Manuf    1.012833
Enrgy    1.231167
HiTec    0.766250
Telcm    0.881417
Shops    0.916333
Hlth     0.783833
Utils    0.907167
Other    0.489083
dtype: float64

In [18]:
# Vector of mean returns
vector = np.array(data_mean)
vector = vector.reshape(10,1)
vector

array([[0.90283333],
       [0.73333333],
       [1.01283333],
       [1.23116667],
       [0.76625   ],
       [0.88141667],
       [0.91633333],
       [0.78383333],
       [0.90716667],
       [0.48908333]])

In [19]:
# Covariance Matrix
covMatrix = data.cov()
covMatrix = np.array(covMatrix)
covMatrix

array([[11.19342216, 18.44966611, 14.10490703, 10.5313412 , 12.92294937,
        11.96807831, 10.17083232,  9.95311174,  7.86665347, 14.4384085 ],
       [18.44966611, 69.92057703, 39.1780972 , 27.0197944 , 35.4666521 ,
        27.49054314, 27.44473081, 16.82400308, 12.74613641, 39.36198711],
       [14.10490703, 39.1780972 , 28.19897006, 23.14537986, 24.61873929,
        19.55014973, 17.62286678, 13.59644703, 11.4406123 , 26.31342279],
       [10.5313412 , 27.0197944 , 23.14537986, 36.98493308, 19.26727584,
        15.36681682, 11.29780011,  9.63032658, 14.02716804, 18.32046915],
       [12.92294937, 35.4666521 , 24.61873929, 19.26727584, 28.95722027,
        18.70827342, 17.83711471, 13.25406408, 10.30418676, 23.85547048],
       [11.96807831, 27.49054314, 19.55014973, 15.36681682, 18.70827342,
        19.78722739, 14.16935566, 11.50659873, 10.99159564, 19.61083576],
       [10.17083232, 27.44473081, 17.62286678, 11.29780011, 17.83711471,
        14.16935566, 16.75908392, 10.17884947,  6.69435003, 19.22652434],
       [ 9.95311174, 16.82400308, 13.59644703,  9.63032658, 13.25406408,
        11.50659873, 10.17884947, 14.34266922,  7.47503616, 14.86455312],
       [ 7.86665347, 12.74613641, 11.4406123 , 14.02716804, 10.30418676,
        10.99159564,  6.69435003,  7.47503616, 13.70305241,  9.99296041],
       [14.4384085 , 39.36198711, 26.31342279, 18.32046915, 23.85547048,
        19.61083576, 19.22652434, 14.86455312,  9.99296041, 31.16377142]])

#### 2)	Create a table showing the mean returns and standard deviation of returns for the ten industry portfolios.

In [20]:
data_std = data.std()
data_std

NoDur    3.345657
Durbl    8.361852
Manuf    5.310270
Enrgy    6.081524
HiTec    5.381191
Telcm    4.448284
Shops    4.093786
Hlth     3.787172
Utils    3.701763
Other    5.582452
dtype: float64

In [23]:
# Table showing mean returns & standard deviation of returns for the 10 industry portfolios
table = pd.DataFrame(data = data_mean, columns=["Mean Returns"])
table['Standard Deviation of Returns'] = data_std
table

       Mean Returns  Standard Deviation of Returns
NoDur      0.902833                       3.345657
Durbl      0.733333                       8.361852
Manuf      1.012833                       5.310270
Enrgy      1.231167                       6.081524
HiTec      0.766250                       5.381191
Telcm      0.881417                       4.448284
Shops      0.916333                       4.093786
Hlth       0.783833                       3.787172
Utils      0.907167                       3.701763
Other      0.489083                       5.582452

#### 3)	Plot the minimum-variance frontier (without the riskless asset) generated by the ten industry portfolios, with mean return on the vertical axis and standard deviation of return on the horizontal axis. This plot should cover the range from 0% to 2% (in increments of 0.1%) on the vertical axis.

#### 4)	Briefly explain the economic significance and relevance of the minimum-variance frontier to an investor.

#### 5)	Now suppose that the risk-free rate is 0.13% per month.

#### a.	Plot the efficient frontier (with the riskless asset) on the same plot as the minimum-variance frontier generated by the ten industry portfolios.

#### b.	Briefly explain the economic significance and relevance of the efficient frontier to an investor.

#### 6)	The two frontiers will intersect at single point: the tangency portfolio.

#### a.	Calculate the Sharpe ratio for the tangency portfolio, and also the tangency portfolio weights for the ten industry portfolios.

#### b.	Briefly explain the economic significance and relevance of the tangency portfolio to an investor.